<meta name="viewport" content="width=device-width, initial-scale=1.0">
* {
    margin-top: 5vw;
    margin: 1vw;
    padding: 10px;
    size: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(2rem + 2vw + 2vh)
}

.flex-container {
    display: flex;
    /* setting flex direction as row */
    flex-direction: row;
    /* allowing for wrapping */
    flex-wrap: wrap;
    justify-content: space-around;
    /* aligning content to center */
    align-items: center;
    align-content: center;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    padding-left: 1em;
    padding-right: 1em;
}

.img-fmt {
    /* formating images */
    background-color: aquamarine;
    border-style: inset;
    border-color: aquamarine;

}

img {
    /* defining image size/position */
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    min-width: 15em;
    min-height: 15em;
}
