* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(2rem + 2vw + 2vh)
}

.flex-container {
    /* setting display type */
    display: flex;
    /* setting flex direction as row */
    flex-direction: row;
    /* allowing for wrapping */
    flex-wrap: wrap;
    /* justifying content to spread across container evenly */
    justify-content: space-evenly;
    /* aligning content stretch across container evenly */
    align-items: stretch;
    /* determining border style */
    border-style: dashed;
    /* setting border width */
    border-width: 5px;
    /* setting border color */
    border-color: black;
}

.img-fmt {
    /* background color */
    background-color: aquamarine;
    /* setting border style */
    border-style: inset;
    border-color: aquamarine;
}

img {
    /* defining image size */
    width: 100px;
    height: 100px;
}

/* making format change with screensize using media queries */
@media (max-width : 6000px) {
    img {
        /* setting format for this screensize */
        align-items: center;
        justify-content: center;
        width: 620px;
        height: 620px;
    }

    /* changing flex container format with screensize */
    .flex-container {
        /* calculating correct size for row gap depending on screensize  */
        row-gap: calc(((100vw - 3720px) / 7) - 5px);
    }
}

@media (max-width : 3775px) {
    img {
        align-items: center;
        justify-content: center;
        width: 575px;
        height: 575px;
    }

    .flex-container {
        row-gap: calc(((100vw - 3450px) / 7) - 5px);
    }
}

@media (max-width : 3725px) {
    img {
        align-items: center;
        justify-content: center;
        width: 525px;
        height: 525px;
    }

    .flex-container {
        row-gap: calc(((100vw - 3150px) / 7) - 5px);
    }
}

@media (max-width : 3200px) {
    img {
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 450px;
    }

    .flex-container {
        row-gap: calc(((100vw - 2700px) / 7) - 5px);
    }
}

@media (max-width : 2775px) {
    img {
        align-items: center;
        justify-content: center;
        width: 425px;
        height: 425px;
    }

    .flex-container {
        row-gap: calc(((100vw - 2550px) / 7) - 5px);
    }
}

@media (max-width : 2725px) {
    img {
        align-items: center;
        justify-content: center;
        width: 385px;
        height: 385px;
    }

    .flex-container {
        row-gap: calc(((100vw - 2310px) / 7) - 5px);
    }
}

@media (max-width : 2360px) {
    img {
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 350px;
    }

    .flex-container {
        row-gap: calc(((100vw - 2100px) / 7) - 5px);
    }
}

@media (max-width : 2325px) {
    img {
        align-items: center;
        justify-content: center;
        width: 325px;
        height: 325px;
    }

    .flex-container {
        row-gap: calc(((100vw - 1950px) / 7) - 5px);
    }
}

@media (max-width : 2115px) {
    img {
        align-items: center;
        justify-content: center;
        width: 475px;
        height: 475px;
    }

    .flex-container {
        row-gap: calc(((100vw - 1900px) / 5) - 5px);
    }
}

@media (max-width : 2050px) {
    img {
        align-items: center;
        justify-content: center;
        width: 550px;
        height: 550px;
    }

    .flex-container {
        row-gap: calc(((100vw - 1650px) / 4) - 5px);
    }
}

@media (max-width : 1750px) {
    img {
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 450px;
    }

    .flex-container {
        row-gap: calc(((100vw - 1350px) / 4) - 5px);
    }
}

@media (max-width : 1400px) {
    img {
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 350px;
    }

    .flex-container {
        row-gap: calc(((100vw - 1050px) / 4) - 5px);
    }
}

@media (max-width : 1100px) {
    img {
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
    }

    .flex-container {
        row-gap: calc(((100vw - 900px) / 4) - 5px);
    }
}


@media (max-width : 950px) {
    img {
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
    }

    .flex-container {
        row-gap: calc(((100vw - 750px) / 4) - 5px);
    }
}

@media (max-width : 800px) {
    img {
        align-items: center;
        justify-content: center;
        width: 325px;
        height: 325px;
    }

    .flex-container {
        row-gap: calc(((100vw - 700px) / 3) - 5px);
    }
}

@media (max-width : 675px) {
    img {
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
    }

    .flex-container {
        row-gap: calc(((100vw - 500px) / 3) - 5px);
    }
}

@media (max-width : 550px) {
    img {
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    .flex-container {
        row-gap: calc(((100vw - 400px) / 3) - 5px);
    }
}

@media (max-width : 450px) {
    img {
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
    }

    .flex-container {
        row-gap: calc(((100vw - 300px) / 3) - 5px);
    }
}

@media (max-width : 325px) {
    img {
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
    }

    .flex-container {
        row-gap: 20px;
    }
}

@media (max-width : 200px) {
    img {
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
    }

    .flex-container {
        row-gap: 10px;
    }
}