<meta name="viewport" content="width=device-width, initial-scale=1.0">

*{
    margin-top: 5vw;
    margin: 1vw;
    padding: 10px;
    size: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.img-size {
width: 15%;
height: 15%;
}

#space {
    margin-bottom: 14em;
}